<!-- detail view for a single permit -->
{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('index') }}">Back</a>
    <h1>{% block title %} {{permit.neighbourhood}} {{permit.building_type}} {% endblock %}</h1>
    <div class="permit">
      <!-- clean layout of permit details -->
      <p>Permit Date: {{permit.permit_date}}</p>
      <p>Units Added: {{permit.units_added}}</p>
      <p>Neighbourhood: {{permit.neighbourhood}}</p>
      <p>Job Description: {{permit.job_description}}</p>
      <p>Job Category: {{permit.job_category}}</p>
      <p>Zoning: {{permit.zoning}}</p>
      <p>Floor Area: {{permit.floor_area}}sqft</p>
      <p>Building Type: {{permit.building_type}}</p>
      <p>Address: {{permit.address}}</p>
      <p id="construction-value"></p>
      <p>Permit Number: {{permit.row_id}}</p>
      <a class='btn' target="_blank" href="https://maps.google.com/?q={{permit.latitude}},{{permit.longitude}}">Open in Google Maps</a>
    </div>
    <script>
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'CAD',
      });
      const constructionValue = formatter.format({{ permit.construction_value }});
      document.getElementById("construction-value").innerHTML = "Construction Value: " + constructionValue;
    </script>
{% endblock %}